*{
	font-family:"Microsoft Yahei";
	margin:0 auto;
	font-weight:lighter;
	text-decoration:none;
	text-align:center;
	line-height:2.2em;
}  

html,body{
	height:100%;
} 

h1{
	font-size:100px;
	line-height:1em;
} 

.content {
	margin-top: 12%;
	width:100%;
	height:100%;
} 